.footer-container{
    width: 100%;
    height: 315px;
    background-color:#f0f0f0;
}
.footer-container-div{
    width: 100%;
    height: 250px;
    /* background-color: rgb(30, 65, 65);    */
    display: flex;
    padding-top:20px;
}
.footer-container-div1{
    width:23%;
    height: 250px;
    /* background-color: rgb(155, 153, 20);    */

}
.footer-container-div1-container{
    width:70%;
    height: 250px;
    margin-left: 30%;
    /* background-color: rgb(155, 63, 20);  */
}
.footer-container-div1-container-div1
{
    width:100%;
    height:38%;
    /* background-color: rgb(116, 115, 91); */
}
.footer-container-div1-container-div1>div
{
    width:100%;
    height: 50%;
    /* background-color: rgb(161, 156, 14); */
    padding-top: 20px;
    font-size: 15px;
}


.footer-container-div1-container-div2{
    width:100%;
    height: 50%;
    /* background-color: rgb(80, 78, 24); */
    font-size: 15px;
    font-weight: bold;
    color: rgb(126, 125, 125);
}
.footer-container-div1-container-div2>div{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-left: -5%;
}
.footer-container-div1-container-div2-icon{
    width:40px;
    height:25px;
    
    /* background-color: rgb(63, 12, 110); */
}
.footer-container-div1-container-div2-icon>img{
    cursor: pointer;
}
.footer-container-div2{
    width:18%;
    height: 250px;
    /* background-color: rgb(20, 43, 155);    */

}
.footer-container-div2>h2{
    margin-top: 10px;
    font-size: 13px;
    color: rgb(114, 114, 174);
    cursor: pointer;
}
.footer-container-div3{
    width:18%;
    height: 250px;
    /* background-color: rgb(28, 132, 98);    */

}
.footer-container-div3>h2{
    margin-top: 10px;
    font-size: 13px;
    color: rgb(114, 114, 174);
    cursor: pointer;
}
.footer-container-div4{
    width:18%;
    height: 250px;
    /* background-color: rgb(74, 78, 101);    */

}
.footer-container-div4>h2{
    margin-top: 10px;
    font-size: 13px;
    color: rgb(114, 114, 174);
    cursor: pointer;
}
.footer-container-div5{
    width:23%;
    height: 250px;
    /* background-color: rgb(74, 101, 85);    */

}
.footer-container-div5>h2{
    margin-top: 10px;
    font-size: 13px;
    color: rgb(114, 114, 174);
    cursor: pointer;
}
.footer-container-div5-div{
    width:30%;
    height:28px;
    /* background-color: aliceblue; */
    margin-top: 10px;
    display: flex;

}
.footer-container-div5-div>div{
    width:33%;
    height:28px;
    /* background-color: rgb(24, 60, 92) */
    

}
.footer-container-div5-div>div>img{
    cursor: pointer;
}
.footer-bottom{
    width: 100%;
    height: 70px;
    /* background-color: rgb(4, 10, 98);   */
    display: flex;
    justify-content:center;
}
.footer-bottom-div1{
    width: 65%;
    height: 100%;
    /* background-color: aqua; */
    font-size: 13px;
    color: rgb(126, 126, 129);
    display: flex;
  
        /* overflow: hidden; */
    flex-wrap: wrap;
}
.footer-bottom-div1>div{
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap:4px;    
}
.footer-bottom-div1>div>h2{
    cursor: pointer;
}
.footer-bottom-div2{
    width: 20%;
    height: 100%;
    /* background-color: rgb(18, 115, 115); */
}
.footer-bottom-div2>div{
    width: 50%;
    height: 80%;
    font-size: 12px;
    margin-left: 25%;
    margin-top: 5%;
    color: rgb(122, 121, 121);
}
.Footer1{
    width:100%;
    height:50px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
}
.footer1-div{
    width:11%;
    height:50px;
    /* background-color: rgb(103, 125, 117);  */
    font-size: 13px;
  
    text-align: center;
}
.footer1-div>div>a>img{
    margin: auto;
}