.App {
  /* text-align: center; */
  font-family: PT Sans,sans-serif;
  width: 100%;

}
.home-page{
text-align: center;
}
#main-1 p{
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.head-class{
  width: 100%;
  margin: auto;
  margin-top: 8px;
 
}
button.rec-dot{
  visibility: hidden;
}
.slick-slider {
  margin:0 -15px;
}
.slick-slide {
  padding:10px;

  text-align:center;
  margin-right:15px;
  margin-left:15px;
}
.main-div {
  border: 0.5px solid rgba(100, 100, 111, 0.2);

}
.main-div:hover{
  border-color: #8852ff;
  
}
.sub-div {
  position: absolute;
  bottom: 0px;
 margin-left: 280px;
}
.assesment{
  gap: 40px;
  margin: auto;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.assesment img{
  width: 75px;
  height: 65px;
  border-radius: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main{
  margin: 0;
  padding: 0;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.border-sha{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.jobDetails{
  color:   #636260;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.upper-div{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.justify {
  text-align: justify;
  text-justify: inter-word;
}

.paragraph {
  text-align: center;
  max-width: 220px;
  word-wrap: break-word;
  word-break: break-all;
}
.slider{
  width: 100%;
  height: 350px;
  
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 350px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 350px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -30px;
  margin-left: 160px;
  display: flex;
  justify-content: flex-start;
}

.manual-btn{
  border: 2px solid grey;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2s;
  background: grey;
}

.manual-btn:not(:last-child){
  margin-right: 15px;
}

.manual-btn:hover{
  background: white
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#o5:checked ~ .first{
  margin-left: 0;
}

#o6:checked ~ .first{
  margin-left: -20%;
}

#o7:checked ~ .first{
  margin-left: -40%;
}
#o8:checked ~ .first{
  margin-left: -60%;
}
#main-1{
  margin: 0;
  padding: 0;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.purchase-div{
  border: 1px solid rgb(207, 190, 190);
  width: 60%;
  margin-left: 3rem;
  height: auto;
}



