.navbarhead{
    height: 45px;
    width: 100%;
    background-color:#f2f3f8;
    display: flex;
    justify-content: space-between;
}
.navbarhead-icon{
    height: 35px;
    width: 38%;
    /* background-color:#1d3194; */
    display: flex;
    justify-content: space-around;
    

}
.navbarhead-icon-android{
    height:80%;
    width: 28%;
    /* background-color:#50193e; */
    margin-left: -10%;
    display: flex;
    margin-top: 8px;
    cursor: pointer;

}
.navbarhead-icon-android-mobileicon{
    height:100%;
    width:20%;
    /* background-color:#195025; */
}
.navbarhead-icon-android-mobile{
    height:100%;
    width:80%;
    /* background-color:#6fbb80; */
    font-size: 15px;
    font-weight:bold;
    color:#707071 ;
    margin-left: -10px;
}
.navbarhead-icon-employers{
    height:80%;
    width: 25%;
    /* background-color:#50193e; */
    margin-left: -26%;
    display: flex;
    margin-top: 8px;
    cursor: pointer;
}
.navbarhead-icon-employers-icon{
    height:100%;
    width:20%;
    /* background-color:#195025; */
}
.navbarhead-icon-employers-text{
    height:100%;
    width:80%;
    /* background-color:#6fbb80; */
    font-size: 15px;
    font-weight:bold;
    color:#707071 ;
}
.navbarhead-icon-help{
    height:80%;
    width: 15%;
    /* background-color:#50193e; */
    margin-left: -20%;
    display: flex;
    margin-top: 8px;
    cursor: pointer;
}
.navbarhead-icon-help-icon{
    height:100%;
    width:30%;
    margin-top: 2px;
    /* background-color:#195025; */
}
.navbarhead-icon-help-text{
    height:100%;
    width:80%;
    /* background-color:#6fbb80; */
    font-size: 15px;
    font-weight:bold;
    color:#707071 ;
    margin-left: -2px;
}

.navbarsearch{
    height: 60px;
    width: 100%;
    /* background-color:red; */
    border-bottom: 1px solid rgb(244, 229, 229);
    display: flex;
    justify-content: space-around;
}
.nav-logo{
    height: 50px;
    width: 10%;
    margin-left: -50px;
    /* background-color:#5e6ec0; */
}
.nav-logo>a>img{
    width:54%;
    margin-left:25px;
}
.nav-search{
    height: 50px;
    width:40%;
    /* background-color:#f2f3f8; */
    margin-left: -25%;
    display: flex;
}
.nav-searchbar{
    height:40px;
    width:75%;
    /* background-color:#292d3f; */
    /* border: 1px solid black; */
    box-shadow: 0px 0px 2px 0px   #888888;;
    border-radius:5px 0px 0px 5px;
    margin-top:10px;
        font-size: 13px;
        
}
.nav-searchbutton{
width: 8%;
height:40px;
background-color: aqua;
box-shadow: 0px 0px 2px 0px   #888888;
border-radius:0px 5px 5px 0px;
margin-top: 10px;    
}
.nav-searchbutton>img{
    height:100%;
    width: 100%;
    border-radius:0px 5px 5px 0px;
   /* border-radius: 5px; */
   /* width: fit-content; */
}
.nav-icon{
    height: 30px;
    width: 10%;
    /* background-color:#f2f3f8; */
    display: flex;
    justify-content: space-around;
    margin-top:15px;
}
.nav-icon-notification{
    width:30px;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;

    /* background-color: red; */
}
.nav-icon-cart{
    width:30px;
    height: 30px;
    cursor: pointer;
    /* background-color: red; */
}
.nav-icon-profile{
    width:30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 5px;
    cursor: pointer;
    /* background-color: red; */
}
#nav-icon-profile-dropdown{
    display: none;
    width: 200px;
    height: 150px;
    background-color:rgb(255, 243, 243);
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px   #888888;
    text-align: center;
    margin-left: -11%;
    margin-top: 10px;
    
}

#job{
    
        display: none;
        width: 180px;
        height: 80px;
        background-color:rgb(255, 255, 255);
        position: absolute;
        margin-top: 8px;
        border-radius: 3px;
        box-shadow: 0px 0px 2px 0px   #888888;
        /* margin-left: 40%; */
    
}
#job>h2{
    padding-left: 20px;   
    margin-top: 10px;
    font-size: 14px;
    font-weight: 499;
    color: #585656;
}
#job>h2:hover{
    border-left: 1px solid blue;
    color: blue;
}
#jobseeking{
    
    display: none;
    width: 190px;
    height: 140px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    margin-top: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px   #888888;
    /* margin-left: 40%; */

}
#jobseeking>h2{
    padding-left: 20px;   
    margin-top: 10px;
    font-size: 14px;
    font-weight: 499;
    color: #585656;
  
   

}
#jobseeking>h2:hover{
    border-left: 1px solid blue;
    color: blue;
}
#courses{
    
    display: none;
    width: 200px;
    height: 180px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    margin-top: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px   #888888;
    /* margin-left: 40%; */

}
#courses>h2{
    padding-left: 20px;   
    margin-top: 10px;
    font-size: 14px;
    font-weight: 499;
    color: #585656;
   

}
#courses>h2:hover{
    border-left: 1px solid blue;
    color: blue;
}












.navbar{
    height: 45px;
    width: 100%;
    /* background-color:green; */
    /* border-bottom: 1px solid rgb(244, 229, 229); */
}
.nav-button{
    height: 44px;
    width:55%;
    background-color:white;
    margin-left:100px;
    display:flex;

    justify-content: space-around;
    color:black;
    font-size: 14px;
    font-weight: 500;
}
.nav-button>div{
    margin-top:15px;
    cursor: pointer;
}
.nav-button>div:hover{
    border-bottom:2px solid blue    ;
}
